Meta
doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
/inst/rmarkdown/*.pdf
/data/*.rds
/tests/testthat/*.pdf
/tests/testthat/*.Rmd
/tests/testthat/*.log
/tests/testthat/*.csv
/tests/testthat/*.txt
/tests/testthat/*_files/
