
header {
  margin: 0;
  padding: 0;
}   

body .main-container {
  max-width: 2500px;
}

body {
  max-width: 2500px;
  margin: 0;
  padding: 0;
  line-height: 20px ; 
}   

pre code, pre, code {
  white-space: pre !important;
  overflow-x: scroll !important;
  word-break: keep-all !important;
  word-wrap: initial !important;
}